@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
    width:100vw;
    height: 100vh;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0;
    overflow-y:hidden;
}



.quizScreen {
  position: absolute;
  bottom:0;
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  background-color: #42216C;
}

.adminScreen {
  position: absolute;
  bottom:0;
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
  flex-direction: column;
  overflow-y: scroll;
  z-index: 1;
  background-color: #42216C;
}

.screen-hide {
  will-change: transform;
  -webkit-animation: fade-out 325ms cubic-bezier(0.4, 0, 0.2, 1) 0.2s both;
  animation: fade-out 325ms cubic-bezier(0.4, 0, 0.2, 1) 0.2s both;
}

::-webkit-scrollbar {
  display: none;
}





/*************************************************************************
*
* Navbar Default Style Management
*
**************************************************************************/


.nav {
  color: white;
  height:7vh;
  position: fixed;
  top:0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index:10;
}


.questionNum {
  color: 	#c9c9c9;
}


.profile {
  width:auto;
  height:100%;
  background-color: white;
  z-index: 10000000000;
}


.center {
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);

  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


/*************************************************************************
*
* Text Default Style Management
*
**************************************************************************/

p {
    font-family: 'Roboto', serif;
    font-size: 1rem;
}

h2 {
    font-family: 'Roboto', serif;
    font-size: 1.3rem;
    letter-spacing: 0.07rem;
    text-shadow: #fff 0px 1px 1px;
}

.label {
  font-family: 'Roboto', serif;
  width:90%;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.07rem;
  -webkit-text-stroke: 0.45px;
  text-shadow: #fff 0px 1px 1px;
  padding-bottom: 2rem;
  text-decoration: none;
  list-style-type: none;
}


.subtext {
  font-size: 1rem;
  color: 	#AAA5AF;
  text-shadow:#D1CDD2 0px 1px 1px;
}

/*************************************************************************
*
* Question Number Default Style Management
*
**************************************************************************/
.previewContainer {
  width: 100%;
  height:auto;
  outline: none;
  overflow-y: scroll;
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0.1rem;
  margin-left: auto;
  margin-right: auto;
}

.scroll-container {
  overflow-y: scroll!important;
  height:200%;
  width:100%;
  padding:0;
}


.qNum {
  font-weight: bold;
  padding:0px!important;
  margin:0!important;
}

.previewText {
  padding-left:1rem;
  max-width:50vw;
  z-index:10;
}




/*************************************************************************
*
* Toast Notification Default Style Management
*
**************************************************************************/

.toast {
    background-color: #1495FF;
    display: flex;
    flex-direction: row;
    justify-content: center!important;
    color: white!important;
    width: 90vw;
    margin-left:auto;
    margin-right:auto;
    height: 5vh;
    line-height: 22px;
    opacity: 1;
    padding:2px 15px;
    position: absolute;
    top: -3rem;
    border-radius: 0.7rem;
    transition: 0.3s;
    align-items:center;
    z-index: 10000000000!important;
}

.toast p {
  padding-left: 0.5rem;
  padding-top:0.15rem;
  color: white;
}

.toastAction {
  padding-left:0.5rem;
  color: #ffeb3b!important;
  text-transform: uppercase;
}

.appear {
    transition: 0.3s;
    transform: translateY(70px)!important;
}


@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }






  .elevated {
    box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 2px 5px rgba(0,0,0,1.22);
  }







/*************************************************************************
*
* Card Default Style Management
*
**************************************************************************/

.card {
    background-color: white;
    width: 20rem;
    position: absolute;
    top: 8.5rem;
    min-height: 60%;
    outline: none;
    max-height: 40%;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    text-align: left;
    transition: transform 0.5s cubic-bezier(.32,.5,.82,.86);
    will-change:transform;
    transform: translateX(0) rotate(0);
    transform-origin: top;
    -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.card-linear {
  background-color: white;
  width: 20rem;
  position: relative;
  margin: auto;
  outline: none;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  text-align: left;
  box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 2px 5px rgba(0,0,0,1.22);
  transition: transform 0.5s cubic-bezier(.32,.5,.82,.86);
  will-change:transform;
  transform: translateX(0) rotate(0);
  transform-origin: top;
  -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card-remove {
  will-change:transform;
  transform: translateY(200%)!important;
  transition: transform 0.5s cubic-bezier(.32,.5,.82,.86);
  z-index: 10!important;
}


@keyframes remove-card {
  46% {transform: translateY(100%) }
  75% {transform: translateY(130%)}
  90% {transform: translateY(155%)}
  97% {transform: translateY(180%)}
  100%{transform: translateY(200%)}
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



.card-submit {
  position: absolute;
  top: 2rem;
  min-height:50vh;
  overflow-y: scroll;
  z-index:-1000;

}





.wrapper {
  width: 80vw;
  background-color: white;
}
.letter {
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  top: 7.5rem;
  border-radius: 0.5rem;
  width: 21rem;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
  perspective: 60rem;
  animation: fade-in 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 2px 5px rgba(0,0,0,1.22);
}
.side {
  height: 12rem;
  padding:0;
  box-sizing: border-box;
  background-color: white!important;
  outline: 1px solid transparent;
}
.side:nth-of-type(1) {
    padding: 2rem 2rem 0;
    border-radius: 1rem 1rem 0 0;
  }
.side.side:nth-of-type(2) {
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    text-align: right;
}
  
.envelope {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.envelopefront {
  width: 10rem;
  height: 6rem;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  z-index: 9999;
  opacity: 0;
}
.envelopefront::before, .envelopefront::after {
  position: absolute;
  display: block;
  background-color: black;
  width: 12rem;
  height: 6rem;
  background-color: #e9dc9d;
  transform: rotate(30deg);
  transform-origin: 0 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  content: '';
}
.envelopefront::after{
  right: 0;
  transform: rotate(-30deg);
  transform-origin: 100% 0;
}
.envelopeback {
  top: -4rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  z-index: -9998;
  opacity: 0;
  transform: translateY(-6rem);
}
.envelopeback::before {
    display: block;
    width: 10rem;
    height: 10rem;
    background-color: #e9dc9d;
    border-radius: 1rem;
    content: '';
    transform: scaleY(0.6) rotate(45deg)
}

.result-message {
  opacity: 0;
  transition: all 0.3s 2s;
  transform: translateY(9rem);
  z-index: -9999;
}


/* SENT */

.letter-sent {
  box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 0px 0px rgba(0,0,0,1.22);
    animation: scaleLetter 1s forwards ease-in /*,
               pushLetter 0.5s 1.33s forwards ease-out*/ ;
  }
.side-sent:nth-of-type(1) {
    transform-origin: 0 100%;
    animation: closeLetter 0.66s forwards ease-in;
  }
.side-sent:nth-of-type(1) p, .side-sent:nth-of-type(1) h2 {
    animation: fadeOutText 0.66s forwards linear;
  }
.button-sent {
    background-color: rgba(78, 94, 114, 0.2);
  }
.envelope-sent {
    animation: fadeInEnvelope 0.5s 0.5s forwards ease-out;
  }
.result-message-sent {
  color: white;
    transform: translateY(27rem);
    -webkit-animation: fade-in 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both!important;
	        animation: fade-in 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both!important;
  }

.centered {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1rem auto;
}

@keyframes closeLetter {
   50% {transform: rotateX(-90deg);}
   100% {transform: rotateX(-180deg);}
}
@keyframes fadeOutText {
   49% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 0;}
}
@keyframes fadeInEnvelope {
  0% {opacity: 0; transform: translateY(24rem);}
  100% {opacity: 1; transform: translateY(18.5rem);}
}
@keyframes scaleLetter {
  46% {transform: translateY(-8rem) scale(0.5, 0.5);}
  56% {transform: translateY(-7rem) scale(0.4, 0.5);}
  90% {transform: translateY(-4.9rem) scale(0.3, 0.5);}
  97% {transform: translateY(-4.3rem) scale(0.33, 0.5);}
  100%{transform: translateY(-12%) scale(0.3, 0.4);}
}




/* MESSY, SORT OUT */

.card-container {
  position: relative;
  width: 90vw;
  margin: auto;
}
.card-container:nth-child(1) {
  margin-top: 4rem;
}
.card-edit {
  background-color: white;
  width: auto;
  margin: auto;
  width:85vw;
  min-height: 60%;
  outline: none;
  /* max-height: 40%; */
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  text-align: left;
}

.overlay-container {
  position: absolute;
  top:0;
  right: 0;
  background-color: white;
  width: 45%;
  margin: auto;
  min-height: 100%;
  overflow: hidden;
  border-radius: 0 1.3rem 1.3rem 0;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.fuckingContainer {
  height:100%!important;
  position: absolute;
  top: 0.2rem;
  left: 0;
}

.fuckingText {
  height:150%!important;
  position: absolute;
  right: 0;
  font-size: 0.9rem;
  color: 	#AAA5AF;
  text-shadow:#D1CDD2 0px 1px 1px;
}

/* POTENTIALLY MERGE THIS WITH QUIZLIST BUTTON CONTAINER? */

.card-edit-button-container {
  position: absolute;
  bottom:0;
  padding:0;
  left:0;
  margin:0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width:100%;
}





.card-quiz-list {
  background-color: white;
  width: 80vw;
  height: auto;
  margin-top: 1rem;
  border-radius: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.card-title-container {
  display: flex;
  width:100%;
  height:auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-overflow: ellipse;
  white-space: pre-wrap;
  overflow: hidden;
}


.card-overview-container {
  width:100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}

.card-buttons-container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  width:auto;
  justify-content: flex-end;
}


.card-details-container {
  display: flex;
  width:50%;
  line-height: 0em;
  align-items: flex-start;
  flex-direction: column;
}


.card-quiz-add-icon {
  display:flex;
  padding:1rem;
  background-image: url('./Assets/Images/add.png');
  background-repeat: no-repeat;
  background-size: cover;
}



/*************************************************************************
*
* Progress Bar Default Style Management
*
**************************************************************************/

.metre {
    height: 5px; 
    width: 80%;
    position: absolute;
    top: 3rem;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 0.8rem;
    z-index: 100000;
    /* box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 2px 5px rgba(0,0,0,0.22); */
}

.metre > span {
    display: block;
    border-radius: 0.5rem;
    height: 100%;
    width:0%;
    /* background-color: #48b6e3; */
    background-color: #F48B2B;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
  }
  
.metre > p {
  color: white;
  text-align: left;
}





/*************************************************************************
*
* Modal Default Style Management
*
**************************************************************************/

.modal {
    border-radius:5px 5px 0 0;
    position: fixed;
    bottom:0;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
    height: auto;
    background-color: white;
    -webkit-animation: bounce-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: bounce-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    z-index:1000000000!important;
}

.modal-bg {
  height:100%;
  position: fixed;
  top:0;
  width:100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index:1000000!important;
}

.modal-content {
    padding: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;

}



@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-up {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
   
  }
}





.modal-destroy {
  -webkit-animation: bounce-out-bottom 0.2s both;
    animation: bounce-out-bottom 0.2s both;
}


.modal-bg-destroy {
  -webkit-animation: fade-out 0.2s ease-out both;
  animation: fade-out 0.2s ease-out both;
}

@-webkit-keyframes bounce-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 0;
  }
}



/*************************************************************************
*
* Input Style Management
*
**************************************************************************/


.group { 
  margin-top: 0.3rem;
  position:relative; 
  margin-bottom:1rem; 
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:94%;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus { outline:none; }

.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before { left:50%; }
.bar:after { right:50%; }

input:focus ~ .bar:before, input:focus ~ .bar:after { width:50%; }

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}





.wrap {
  
  width:100%;
}

.select {
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
  width:100%;
}

.select-text {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}

.select-text:focus {
  outline: none;
  width:92.5%;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

option { 
  box-sizing: border-box;
  font-size: 1rem;
  width:100%;
}

.select .select-text {
	appearance: none;
  -webkit-appearance:none; 
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
  border-top: 6px solid #757575;
	pointer-events: none;
}

.select-bar {
	position: relative;
	display: block;
	width: 100%;
}

.select-bar:before, .select-bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}






.material-toggle {
  margin-right: 1rem;
  width: 40px;
}


.material-toggle input:empty {
	margin-left: -9999px;
}

.material-toggle input:empty ~ label {
	position: relative;
	float: left;
	width: 150px;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.material-toggle input:empty ~ label:before, 
.material-toggle input:empty ~ label:after {
  position: absolute;
	display: block;
  content: ' ';
  -webkit-transition: all 250ms cubic-bezier(.4,0,.2,1);
  transition: all 250ms cubic-bezier(.4,0,.2,1);
}

.material-toggle input:empty ~ label:before {
    top: 3px;
    left: 0px;
    width: 32px;
    height: 13px;
    border-radius: 12px;
    background-color: #bdbdbd;
}

input.switch:empty ~ label:after {
    top: -1px;
    left: -9px;
    width: 1.4em;
    height: 8px;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}

.material-toggle input:checked ~ label:before {
	background-color: #1e88e5;
}

.material-toggle input:checked ~ label:after {
	left: 15px;
  background-color: #1565c0;
  border-color: #1565c0;
}











.selector-toolbar input[type="radio"], input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.selector-toolbar label {
  display: inline-block;
  background-color: white;
  padding: 1rem 2rem;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 1px solid rgb(154, 155, 162);
  color: 	rgb(37, 38, 41);
  border-radius: 4px;
  width:100%;
  box-sizing: border-box;
}

.selector-toolbar input[type="radio"]:checked + label {
  /* border-color: 	#84cfee; */
  transition: 0.5s!important;
  /* color: #84cfee; */
  border-color: #F48B2B;
  color: #F48B2B;
  box-sizing: border-box;
}

.selector-toolbar input[type="checkbox"]:checked + label {
  /* border-color: 	#84cfee;
  color: #84cfee; */
  border-color: #F48B2B;
  color: #F48B2B;
  box-sizing: border-box;
}

.selector-toolbar input[type="radio"]:focus + label {
  border: 1px solid #F48B2B;
  color: #F48B2B;
  box-sizing: border-box;
}

.selector-toolbar input[type="checkbox"]:checked + label {
  /* border-color: 	#84cfee; */
  border-color: #F48B2B;
  color: #F48B2B;
  box-sizing: border-box;
}







/*************************************************************************
*
* Footer Default Style Management
*
**************************************************************************/

.footer {
    width:100vw;
    height:10%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index:10000;
}








/*************************************************************************
*
* Toggle Default Style Management
*
**************************************************************************/


.toggle-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  margin: 16px;
  padding: 16px 0 16px 44px;
}


/*************************************************************************
*
* Divider Default Style Management
*
**************************************************************************/

.separator {
  width:100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #757575;
}

.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #757575;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}


/*************************************************************************
*
* Icons Default Style Management
*
**************************************************************************/

.icon {
  display:flex;
  padding:0.8rem;
  background-color: Transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.bin {
  background-image: url('./Assets/Images/binoutline.png');
  padding:1rem;
}


.hamburger {
  background-image: url('./Assets/Images/hamburger.png');
  padding:1rem; 
}

.edit {
  background-image: url('./Assets/Images/editoutline.png');
  padding:1rem;
}

.link {
  background-image: url('./Assets/Images/link.png');
  padding:1rem;
}

.share {
  background-image: url('./Assets/Images/share.png');
}

.return {
  background-image: url('./Assets/Images/return.png');
  position: absolute!important;
  left:5vw;
}

.add {
  background-image: url('./Assets/Images/addwhite.png');
  position: absolute!important;
  left:5vw;
}


.clear {
  background-image: url('./Assets/Images/clearformwhite.png');
  position: absolute!important;
  left:5vw;
}

.info {
  background-image: url('./Assets/Images/infowhite.png');
  position: absolute!important;
  right:5vw;
}

.barchart {
  background-image: url('./Assets/Images/barchart.png');
  padding:1rem;
}

.close {
  background-image: url('./Assets/Images/closeblack.png');
  padding:0.8rem!important;
}


.tick {
  background-image: url('./Assets/Images/tick.png');
  padding:0.8rem!important;
}

.clipboard {
  background-image: url('./Assets/Images/clipboard.png');
  padding:0.8rem!important;
}

.uploadIcon {
  background-image: url('./Assets/Images/upload.png');
  padding:0.8rem!important;
}

/*************************************************************************
*
* Buttons Default Style Management
*
**************************************************************************/

.button {
  width: 8rem;
  height:auto;
  border-radius:0.6rem;
  /* background-color: #375abe; */
  background-color: #F48B2B;
  color: white;
  box-shadow: 0 2px 10px black!important;
  outline: red;
  border: none;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
  z-index:100;
}

.button-text {
  padding-left:12px;
  padding-right: 12px;
  font-size: 1rem;
  color: white!important;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, black 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .4s, opacity 0.4s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

.submit {
  position: absolute;
  width:80vw;
  bottom:7rem;
}

.right {
  position: absolute;
  bottom:0.5rem;
  right:1rem;
  width:90%;
  margin-bottom: 1rem;
}

.left {
  position: absolute;
  bottom:0.5rem;
  left: 1rem;
  margin-bottom: 1rem;
}


.disabled {
  background-color: gray;
}



.upload::-webkit-file-upload-button {
  visibility: hidden;
}

.upload {
  width: 70vw;
  height:auto;
  border-radius:0.4rem;
  box-shadow: 0 6px 10px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
  z-index:10000000;
}

.upload::before {
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  padding:1rem;
}

input[type="file"] {
    display: none;
}









/******************************
*
* Graphs for Reponses Page CSS
*
******************************/

.option-bar {
  height:5vh;
  display:flex;
  align-items: center;
  width:100%;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 0.7rem;
  background: white;
  text-align: center;
  font-size: 0.8rem;
  transition: 2s;
}

.option-bar > span {
  position:absolute;
  top:0;
  left:0;
  display: block;
  z-index:10000000;
  border-radius: 0.5rem;
  height: 100%;
  background-color: #48b6e3;
  opacity:0.6;
}

.option-bar > p {
  float: left;
}





/**************************

Things to move eventually */


/* For the options on the edit page */
.option-group {
  position: relative;
  width:100%;
  display:flex;
  flex-direction: column;
}

.optionbox {
  position: relative;
  width:90%;
  height:5vh;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}





/*******************************
*
* Accesibility, Reduced Motion
*
*
*******************************/



@media screen and (prefers-reduced-motion: reduce){
  .card {transition: 0s;}
  .card-remove {transition: 0s;}
  .card {animation:none;}
  .metre > span {transition: 0s;}
  .screen-hide {animation: none;}
  .adminScreen {animation: none;}
  .quizScreen {animation: none;}
  .letter-sent { animation: none; display: none;}
  .side-sent:nth-of-type(1) { animation: none;}
  .side-sent:nth-of-type(1) p, .side-sent:nth-of-type(1) textarea { animation: none;}
  .envelope-sent { animation: none; }
  .result-message-sent { animation: none;}
}

@media (prefers-color-scheme: dark) {
  .quizScreen {background-color:#121212!important;}
  .card {background-color:#272727; text:white!important;}
  .label{color:white;-webkit-text-stroke: 0;text-shadow: #000 0px 1px 1px!important;}
} 