@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body, html {
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    overflow:scroll;
}

/* Put into screens folder when made */
.screenDefault {
    position: relative;
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    display:flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
}






/*************************************************************************
*
* Navbar Default Style Management
*
**************************************************************************/


.nav {
  background-color: white;
  width: 85vw;
  position: absolute;
  top: 1rem;
  height: auto;
  overflow: hidden;
  margin-top: 1rem;
  border: thin solid grey;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 2px 5px rgba(0,0,0,0.22);
  z-index: 10000000000;
}

.profile {
  width:auto;
  height:100%;
  background-color: white;
  z-index: 10000000000;
}


/*************************************************************************
*
* Text Default Style Management
*
**************************************************************************/

p {
    font-family: 'Roboto', serif;
}

h2 {
    font-family: 'Roboto', serif;
    font-size: 1.5rem;
    font-weight: normal;
}




/*************************************************************************
*
* Question Number Default Style Management
*
**************************************************************************/
.previewContainer {
  width: 100%;
  height:auto;
  outline: none;
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
}


.qNum {
  font-weight: bold;
  padding-left:0px!important;
  margin-left:0!important;
}

.previewText {
  padding-left:1rem;
  max-width:50vw;
  z-index:10;
}




/*************************************************************************
*
* Toast Notification Default Style Management
*
**************************************************************************/

.toast {
    background-color: #323232;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    width: auto;
    min-width: 65%;
    height: 5vh;
    line-height: 22px;
    opacity: 1;
    padding:18px 24px;
    position: absolute;
    transform: translateY(100px);
    transition: 2s;
    bottom: 0;
    border-radius: 0.2rem;
    align-items:center;
    text-align:center;
    z-index: 999999;
}

.toastAction {
  color: #ffeb3b;
  text-transform: uppercase;
}

.appear {
    transition: 0.5s;
    transform: translateY(-50px)!important;
	-webkit-animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.remove {
    transition: 0.5s;
    transform: translateY(100px)!important;
    -webkit-animation: fade-out 0.2s ease-out both;
            animation: fade-out 0.2s ease-out both;
}


@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }







/*************************************************************************
*
* Quiz Selector Card Default Style Management
*
**************************************************************************/

.quizCard {
    background-color: white;
    width: 85vw;
    min-height: 20vh;
    margin-top: 1rem;
    border: thin solid grey;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    text-align: left!important;
    line-height: 7px;
    transition: .3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.quizCard:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}




/*************************************************************************
*
* Card Default Style Management
*
**************************************************************************/

.card {
    background-color: white;
    width: 70vw;
    position: absolute;
    top: 12rem;
    min-height: 40%;
    max-height: 40%;
    overflow: hidden;
    margin-top: 1rem;
    border: thin solid grey;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    text-align: left;
    box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 2px 5px rgba(0,0,0,0.22);
    transition: transform 0.5s cubic-bezier(.32,.5,.82,.86);
    will-change:transform;
    transform: translateX(0) rotate(0);
    -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.linearCard {
  background-color: white;
  width: 70vw;
  position: relative;
  min-height: 60%;
  max-height: 60%;
  overflow: hidden;
  margin-top: 1rem;
  border: thin solid grey;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  text-align: left;
  box-shadow: 0 0 0 rgba(0,0,0,0.01), 0 2px 5px rgba(0,0,0,0.22);
  transition: 0.7s cubic-bezier(.32,.5,.82,.86);
  will-change:transform;
  transform: translateX(0) rotate(0);
}

.card-remove {
  transition: transform 0.5s cubic-bezier(.32,.5,.82,.86);
  will-change: transform;
  transform: translateY(200%) scale(0.3)!important;
  z-index:10000!important;
}


.card-submit {
  z-index:-1000;
}




/*************************************************************************
*
* Progress Bar Default Style Management
*
**************************************************************************/

.metre {
    height: 5px; 
    width:100vw;
    position: absolute;
    bottom: 0rem;
    background: white;
    border: thin solid grey;
    text-align: center;
    font-size: 0.8rem;
    z-index: 100000;

}

.metre > span {
    display: block;
    height: 100%;
    width:0%;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
    );
    transition: 0.2s;
    position: relative;
    overflow: hidden;
  }






/*************************************************************************
*
* Modal Default Style Management
*
**************************************************************************/

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal-content {
    border-radius:5px;
    position: absolute;
    top: 20vh;
    left:5vw;
    width: 90%;
    height: 20%;
    background-color: white;
}

.mdl-card__actions { background-color: rgba(222, 222, 222, 0.25); }




/*************************************************************************
*
* Input Default Style Management
*
**************************************************************************/


/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:94%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }



.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}














.textbox {
  background-color: white;
  width: 85%;
  min-height: 1vh;
  margin-top: 1rem;
  border: solid thin grey;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  text-align: left;
}

.label {
  width:10%;
  color: black;
}

.container {
  display:flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: left;
  width:100%;
}

.radio {

}

.checkbox {

}





/*************************************************************************
*
* Footer Default Style Management
*
**************************************************************************/

.footer {
    z-index: 10000;
    width:100vw;
    height:10%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}








/*************************************************************************
*
* Toggle Default Style Management
*
**************************************************************************/


.toggle-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  margin: 16px;
  padding: 16px 0 16px 44px;
}






/*************************************************************************
*
* Buttons Default Style Management
*
**************************************************************************/

.button {
  width: 8rem;
  height:auto;
  border-radius:0.4rem;
  background-color: teal;
  box-shadow: 0 6px 10px 0 #666;
  border: none;
  outline: none;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
}

.right {
  right:1rem;
}

.left {
  left: 1rem;
}

.next {
  font-size: 1.5rem;
  padding-right:12px;
}

.next:before {
  display: block;
  content: "\203a";
  color: white;
}

.prev {
  padding-left: 12px;
  font-size: 1.5rem;
}

.prev:before {
  display: block;
  content: "\2039";
  color: white;
}

.div {
  padding-left:12px;
  padding-right: 12px;
  font-size: 1rem;
  color: white;
}


.disabled {
  background-color: gray;
}



@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
